# Directories
/.cache
/.config
/.idea
/.local
/.project
/.ssh
/.vscode
/.well-known
/bitrix
/cgi-bin
/site_*
/temp
/test
/testbx
/tmp
/upload
/webstat

# Files
/.htaccess
/.htaccess_*
/.htpasswd
/.htsecure
/.ftpaccess
/*.csv
/*.html
/*.old
/*.restore
/*.sql
/*.xml
/adminer.php
/adminer-*.php
/ai-bolit.php
/bitrix_server_test.php
/bxtest.php
/google*.php
/restore.php
/sitemap*.php
/test.php
/test*.php
.DS_Store
Thumbs.db
*.cfg
*.config
*.doc
*.docx
*.ini
*.gz
*.log
*.pdf
*.ppt
*.pptx
*.rar
*.tar*
*.tgz
*.txt
*.xls
*.xlsx
*.zip
